.menu a {
  display: flex;
  text-decoration: none;
  color: #FFF;
  font-weight: 300;
  padding: 18px;
  font-size: 1.6em;
}
.menu a i {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  align-self: center;
}
menu a:hover {
  background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}
@media(max-width: 768px) {
  .menu { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu a {
    display: inline;
    padding: 10px;
    margin: 0;
  }
  .menu {
    height: 100%;
    justify-content: space-around;
  }
}